services:
  api:
    build: .
    container_name: crm-pet-system
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: crm-pet-postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - crm_pet_pg:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  crm_pet_pg: